.addBox_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.addBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  background: #F3F3F3;
  border-radius: 6px;
  padding: 20px;
  align-items: center;
  text-align: start;
}

.addBox_navigateTermText {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.addBox_content {
  display: flex;
  gap: 30px;
}

.addBox_ruleCard {
  color: #2A2036;
  background: #F3F3F3;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border-radius: 6px;
}

.addBox_ruleCard_text_icon {
  color: red;
  margin-right: 10px;
  margin-bottom: 10px;
}

.addBox_ruleCard_btnText {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.addBox_left_box_top,
.addBox_left_box_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imagePreviews_addBox {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addBox_left_box_top_card {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  transition-duration: 1s;
  width: 100%;
}

.addBox_left_box_top_card_item {
  width: 70%;
  height: 40px;
}

.addBox_left_box_top_card_item_input {
  width: 70%;
  height: 40px;
}

.addBox_left_box_top_card_textArea {
  width: 70%;
  height: 120px;
}

.addBox_left_box_main {
  background: #FAFAFA;
}

.addBox_left_box_main_title {
  font-weight: bold;
}

.addBox_title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 80px;
}

.addBox_left_box_main_card {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.addBox_right_title {
  color: blue;
  font-weight: bold;
}

.addBox_right_subTitle {
  color: red;
  font-weight: bold;
}

.addBox_left_box_bottom_btn {
  border: none;
  background: red;
  color: white;
  border-radius: 4px;
  padding: 10px;
}

.addBox_image_upload_container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.addBox_image_preview {
  position: relative;
  display: inline-block;
}

.addBox_image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.addBox_image_remove {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addBox_image_add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px dashed #ddd;
  border-radius: 5px;
  cursor: pointer;
  color: #aaa;
}

.addBox_image_input {
  display: none;
}

.addBox_left_box_top_card_headCat {
  font-weight: bold;
  font-size: 18px;
}

.categoryBox {
  display: flex;
  flex-direction: column;
}

.addBox_left_box_top_card_title {
  width: 20%;
}

.parentCategoryTitle {
  font-weight: bold;
  font-size: 16px;
}

.addBox_left_box_top_card .categoryDropdown {
  position: relative;
  width: 70%;
}

.addBox_left_box_top_card .selectBox {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.addBox_left_box_top_card .selectedCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parentCategoryHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 2px 0;
  width: 96%;
}

.addBox_left_box_top_card .dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.addBox_left_box_top_card .parentCategory {
  padding: 8px;
  font-size: 14px;
  color: gray;
}

.addBox_left_box_top_card .childCategoryList {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: black;
}

.addBox_left_box_top_card .childCategory {
  padding: 4px;
  cursor: pointer;
}

.addBox_left_box_top_card .expandIcon {
  margin-left: auto;
}

.imagePreviews {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 10px;
  width: 70%;
}

.imagePreview {
  position: relative;
  height: 100px;
}

.imagePreviewImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.removeImageButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeImageButton:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.addBox_button {
  width: 20%;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background: #2A2036;
  color: white;
  border-radius: 4px;
}

.errorText {
  position: absolute;
  left: 7%;
  top: 100px;
}

.addPageGoback {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.addPageGoback:hover {
  color: red;
}

@media screen and (max-width: 968px) {
  .addBox {
    flex-direction: column;
  }
  .addBox_right {
    margin-bottom: 80px;
  }
  .addBox_content {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .bar_icon {
    display: none;
  }
  .errorText {
    left: 7%;
    top: 20%;
  }
}
@media screen and (max-width: 768px) {
  .addBox_left_box_top_card {
    flex-direction: column;
  }
  .addBox_left_box_top_card_item,
  .addBox_left_box_top_card_textArea,
  .imagePreviews {
    width: 100%;
  }
  .addBox_left_box_top_card .categoryDropdown {
    width: 100%;
  }
  .imagePreviews {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
  .addBox_button {
    width: 80%;
  }
  .errorText {
    left: 3%;
    top: 50px;
  }
  .addBox_title {
    position: absolute;
    top: -70px;
    left: 40%;
  }
  .imagePreviews_addBox {
    height: 100px;
  }
  .addBox {
    margin-top: 50px;
    gap: 0px;
  }
  .addBox_left_box_top_card_title {
    width: 100%;
  }
  .addBox_button {
    margin-top: 40px;
    width: 100%;
  }
  .bar_icon {
    position: absolute;
    right: 5%;
    top: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .imagePreviews {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}/*# sourceMappingURL=newProductAdd.module.css.map */