.CategoryProductPage {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: black;
}

.CategoryProduct_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.CategoryProduct_vip {
  background: #F3F3F3;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.CategoryProduct_header,
.CategoryProduct_vip,
.CategoryProduct_simple {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 100%;
}

.productsGrid_container {
  margin: -40px -20px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

.CategoryProduct_simple {
  margin-bottom: 20px;
  background: white;
}

.categoryPageLabel {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.categoryBoxImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.priceRangeContainer {
  width: 200px;
  margin: 10px;
}

.selectBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}
.selectBox span {
  font-size: 14px;
}
.selectBox .arrow {
  font-size: 12px;
  color: #888;
}

.CategoryProduct_filterBox {
  display: flex;
  flex-direction: column;
}

.CategoryProduct_filterBox_btn {
  display: flex;
  align-self: center !important;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  background: transparent;
}

.inputsContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.inputsContainer input {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  width: 70px;
}
.inputsContainer input:first-of-type {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.inputsContainer input:last-of-type {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.inputsContainer span {
  padding: 0 5px;
}

.categoryPageInput {
  border-radius: 4px;
  padding: 8px;
  background: transparent;
  border: 1px solid #000;
  width: 100%;
}

.categoryBoxFilterCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.productCard {
  border-radius: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.productCard_info {
  padding: 4px 8px;
}

.productCard_info_category {
  font-size: 14px;
}

.productCard_info_city {
  color: rgb(84, 84, 84);
  font-size: 14px;
}

.productCard_imgBox {
  position: relative;
}

.productCard_imgBox_img {
  width: 100%;
  min-height: 200px;
  max-height: 201px;
  border-radius: 8px;
}

.productCard_imgBox_heartIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  cursor: pointer;
}

.productCard_imgBox_heartIcon_check {
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.productCard_imgBox_title {
  position: absolute;
  top: 65%;
  left: 5%;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  background: purple;
  padding: 5px 10px;
  border-radius: 6px;
}

.productCard_title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.productCard_title_pirce {
  font-weight: bold;
}

.productCard_title_dayBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.productCard_subTitle,
.productCard_text {
  padding: 0 10px;
}

.productCard_subTitle {
  font-weight: bold;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  font-size: 20px;
  margin-top: 40px;
}

.paginationBtn {
  padding: 8px 15px;
  margin: 50px 10px 0 10px;
  border: none;
  border-radius: 4px;
}

.notFoundImg {
  height: 300px;
  position: relative;
  transform: translate(-50%, 0%);
  left: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.CategoryProduct_filterBox {
  display: none;
  flex-direction: row;
  gap: 5px;
  border: none;
  background: white;
  padding: 15px 20px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.CategoryProduct_goBack {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.CategoryProduct_goBack:hover {
  color: blue;
}

@media screen and (max-width: 1080px) {
  .productCard_imgBox_title {
    font-size: 10px;
  }
}
@media screen and (max-width: 968px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .productCard_imgBox_title {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .CategoryProduct_container {
    margin-top: 150px;
  }
  .CategoryProduct_filterBox {
    display: block;
  }
}
@media screen and (max-width: 596px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .productCard_imgBox_img {
    height: 150px;
  }
  .notFoundImg {
    width: 100%;
    left: 0%;
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=categoryProduct.module.css.map */