.headerBottomContainer{
    margin-top: -20px;
}

.headerBottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -40px;
}

.headerBottomContainer{
    width: 100%;
    padding:60px 0 10px 0;
    background: #F6F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBottom_left{ 
    font-weight: bold;
    color: #8D94AD;
    font-size: 20px;
}
 .headerBottom_right{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}