.bar_icon {
  display: none;
}

.navbar {
  background: #228B22;
  color: white;
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarBrand {
  width: 250px;
  cursor: pointer;
  margin-top: -10px;
}

.navbar_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 10px;
}

.offcanvasBody {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.navBar_selectBox {
  padding: 9.5px;
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.no-border:focus {
  border: none;
  outline: none;
}

.searchBtn {
  background: rgb(38, 180, 38);
  color: white;
  padding: 12px;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  font-size: 18px;
}

.categoryBox {
  display: flex;
  cursor: pointer;
  font-size: 40px;
}

.advertsBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.advertsBox_btn_new {
  background: #20B2AA;
  color: white;
  border: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 4px;
  font-size: 16px;
  width: 180px;
}

.modalCategoryModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modalBody {
  display: flex;
}

.modalContent {
  background-image: radial-gradient(circle, #4F7942 5%, #4dabf7 95%);
  width: 60%;
  max-width: 900px;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: scale(0.8);
  animation: scaleIn 0.3s ease-in-out forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
.modalBody {
  display: flex;
  padding-top: 15px;
  height: 100%;
}

.categories {
  border-right: 1px solid #ddd;
  max-height: 100%;
  overflow-y: auto;
  color: white;
}

.categoryItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #2A3036;
  border-radius: 4px;
  margin-bottom: 5px;
}

.categoryItem:hover {
  background-color: #fff;
  color: #4F7942;
}

.products {
  width: 70%;
  padding-left: 20px;
  max-height: 100%;
  overflow-y: auto;
}

.products_ul {
  list-style-type: none;
  padding: 0;
}

.products_li {
  padding: 5px 0;
  font-size: 1.2rem;
  border-bottom: 1px solid gray;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.products_li:hover {
  color: lightgreen;
}

.modalContent_btn {
  background-color: #4F7942;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.modalContent_btn:hover {
  background-color: white;
  color: #4F7942;
}

.categoryItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoryIcon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.emptyBox {
  width: 100%;
  border: 1px solid gray;
}

.navBar_selectBox {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nawBarSearchResultCategory_container {
  position: relative;
  width: 100%;
}

.nawBarSearchResultCategory {
  position: absolute;
  top: -60px;
  z-index: 5;
  background: white;
  width: 50%;
  left: 32%;
  padding: 10px;
  border-radius: 4px;
  height: 300px !important;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nawBarSearchResultText {
  cursor: pointer;
}

.nawBarSearchResultText:hover {
  color: blue;
}

.nawBarSearchResultText_category {
  cursor: pointer;
  font-weight: bold;
}

.nawBarSearchResultText_category:hover {
  color: blue;
}

.searchInput_responsive {
  display: none;
}

@media screen and (max-width: 1080px) {
  .navbar_container {
    gap: 30px;
  }
}
@media screen and (max-width: 968px) {
  .advertsBox {
    display: none;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .navbar_container {
    width: 95%;
  }
  .navbarBrand {
    width: 100px;
    height: 60px;
    margin-top: 10px;
  }
  .categoryBox,
  .navBar_selectBox {
    display: none;
  }
  .inputGroup {
    margin-top: 10px;
    position: relative;
    width: 100%;
    margin-left: -20px;
  }
  .searchInput {
    border: 1px solid gray;
    height: 40px;
    width: 100%;
    background: transparent;
    border: 1px solid white;
  }
  .searchInput::-moz-placeholder {
    color: white;
    font-size: 10px;
  }
  .searchInput::placeholder {
    color: white;
    font-size: 10px;
  }
  .searchInput_responsive {
    display: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .searchBtn {
    position: absolute;
    right: 2%;
    background: white;
    padding: 0px;
    margin-top: 10px;
    background: transparent;
  }
  .bar_icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .navbar_container {
    justify-content: space-between;
  }
  .nawBar_responsive_container {
    display: block;
  }
  .nawBarSearchResultCategory {
    height: 200px !important;
    width: 90%;
    top: 10px;
    z-index: 5555;
    left: 5%;
    height: 300px;
  }
  .searchInput {
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .nawBarSearchResultCategory {
    top: 40px;
  }
  .advertsBox_btn_new_text {
    display: none;
  }
  .advertsBox_btn_new {
    font-size: 15px;
    width: 80px;
  }
  .searchInput {
    display: none;
  }
  .searchInput_responsive {
    display: block;
    margin-top: 30px;
  }
  .searchInput_responsive::-moz-placeholder {
    color: white;
  }
  .searchInput_responsive::placeholder {
    color: white;
  }
  .bar_icon {
    position: absolute;
    left: 5%;
  }
  .navbarBrand {
    position: absolute;
    left: 45%;
  }
  .navbar_container {
    width: 100%;
    display: flex;
    padding: 0 20px;
  }
}
@media screen and (max-width: 450px) {
  .navbarBrand {
    margin-left: -40px;
  }
}/*# sourceMappingURL=navbar.module.css.map */