.filterBox {
  display: grid;
  // grid-template-columns: repeat(5, 1fr); 
  gap: 15px; 
  background-color: #fff;
  border-radius: 8px;
}

.filterBox_content:empty {
  display: none;
}

.filterBox_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.filterBox_content label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

div:not(:has(select)) .l {
  margin-bottom: -12px;
}

.priceLabel{
  font-weight: bold;
}


.parameterTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.inlineInputs {
  display: flex;
  gap: 10px; /* Yan yana inputlar arası boşluk */
  margin-bottom: 1rem;
}

.filterInput {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%; /* Input genişliği */
  max-width: 150px; /* İsteğe bağlı maksimum genişlik */
  box-sizing: border-box;
}

.minMaxContainer {
  display: flex;
  justify-content: space-between;
}

.filterGroup {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
}

.filterBoxs {
  right: 0; 
  top: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  margin-top: 0;
  z-index: 10; 
  transition: right 1s ease-in-out; 
  display: block;
  margin-top: 20px;
}


.filterBox_containers {
  position: relative;
}

.l{
  display: flex;
}

.filterBoxDisplayNone {
  display: none;
}


.filterBox_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.filterTitle {
  color: #333;
  text-align: center;
  font-weight: bold;
}

.filterLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.filterInput, .filterSelect {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.priceRange {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterButton {
  width: 20%;
  padding: 12px;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #228B22;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #0056b3;
}

.filterRes_btn {
  display: none !important;
  border: none;
  padding: 15px 25px;
  border-radius: 4px;
  background: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.filterBox_responsive {
  padding: 10px;
}

.filterBox_responsive_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterBox_responsive_header_icon {
  font-size: 25px;
  cursor: pointer;
}

.filterBoxRes_displayBlock {
  display: block;
}

.filterBoxIcon {
  display: none;
  font-size: 25px;
}

@media (max-width: 768px) {
  .filterBoxs {
    position: absolute;
    right: 0;
    top: 0;
    // height: 100vh;
    height: max-content;
    z-index: 5;
    margin-top: 0;
  }

  .filterGroup{
    flex-direction: column;
  }

  .filterBox {
    grid-template-columns: repeat(3, 1fr); 
  }

  .filterBoxIcon {
    display: block;
  }

  .filterRes_btn {
    display: block !important;
  }

  .filterButton {
    width: 100%;
  }

  .filterBox_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
