
* {
	box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
  margin: 0px;
}

.container{
    width: 86%;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  cursor: pointer;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
}

li{
    cursor: pointer;
}
 
.swiper {
    width: 100%;
    height: 100%;
    padding: 10px 54px 10px 60px;
    margin: 10px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100px;
    height: 70px;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-next {
    color: #2A2036;
  }
    .swiper-button-prev {
    color: #2A2036;
  }
  
  .image-gallery{
    position: relative;
    width: 100%;
  }

.image-gallery-content.fullscreen .image-gallery-image {
  height: 100%;
}

.image-gallery-content:not(.fullscreen) .image-gallery-image {
  height: 550px;
}

  
  .image-gallery-image{
    all: unset;
    width: 100%;
  }
  .image-gallery-svg{
    all: unset;
    height: 550px;
    width: 100%;
  }
  .image-gallery-icon{
    height: 550px;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
  }

  .image-gallery-thumbnails-wrapper{
    display: none;  
  }

  .image-gallery-fullscreen-button{
    height:100vh;
  }
  .image-gallery-svg{
    height:100vh;
  }
  .image-gallery-center{
    height:100vh;
  }

  .slick-arrow {
  all: unset;
}

.slick-prev {
  display: none;
}

.slick-next {
  display: none;
}

.slider-container img {
  width: 100px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.categoryTitle{
  font-weight: 400;
  font-size: 10px;
  width: 100px;
  text-align: center;
}

.slider-container{
  margin-left: 30px;
}
  
  @media screen and (max-width:968px) {
    .container{
      width: 94%;
  }

  .image-gallery-image{
    height: 500px;
  }

  }

  @media screen and (max-width:768px) {
    .swiper{
      display: none;
    }

    .slick{
      display: block;
    }
  } 

  @media screen and (max-width:550px) {
    .slider-container img {
      width: 50px;
      height: 40px;
    }

    .categoryTitle{
      margin-left: -25px;
      font-size: 8px;
    }
  } 
/* 
  @media screen and (min-width:768px) {
    .swiper{
      display: block;
    }

    .slider-container{
      display: none;
    }
  }  */